@import "tailwindcss";
@tailwind utilities;

:root {
    --font-fb: "Segoe UI", Helvetica, Arial, sans-serif;

    --background: #ffffff;
    --background-100: #c6cace;
    --background-200: #d9dcdf;
    --secondary-background: #e2e5e9;
    --foreground: #171717;
    --web-wash: #f2f4f7;
    --primary-black: #080809;
    --secondary-black: #000000cc;
    --secondary-text: #65686c;
    --comment-background: #f0f2f5;
    --primary-button-background: #0866ff;
    --secondary-button-background: #ebf5ff;
    --blue-100: #0064d1;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    font-family: var(--font-fb);
    color: (var(--primary-black));
    font-size: 15px;
    background-color: var(--web-wash);
}

.label-text {
    color: var(--secondary-text);
    font-weight: 500;
    line-height: 1.3333;
}
