@import "tailwindcss";
@tailwind utilities;

:root {
    --font-fb: "Segoe UI", Helvetica, Arial, sans-serif;

    --background: #ffffff;
    --background-100: #c6cace;
    --background-200: #d9dcdf;
    --backgorund-300: rgba(0, 0, 0, 0.05);
    --secondary-background: #e2e5e9;
    --foreground: #171717;
    --web-wash: #f2f4f7;
    --primary-black: #080809;
    --secondary-black: #000000cc;
    --secondary-text: #65686c;
    --comment-background: #f0f2f5;
    --primary-button-background: #0866ff;
    --secondary-button-background: #ebf5ff;
    --blue-100: #0064d1;
    --blue-button-background-100: #e5ecf7;
    --blue-button-background-200: #c6ceda;
    --blue-button-background-300: #dde2e9;
    --card-background-100: #f8f9fb;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    font-family: var(--font-fb);
    color: var(--primary-black);
    font-size: 15px;
    background-color: var(--web-wash);
}

.label-text {
    color: var(--secondary-text);
    font-weight: 500;
    line-height: 1.3333;
}

.custom-scrollbar::-webkit-scrollbar-button {
    display: none;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 16px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;

    transition: background-color 0.3s ease-in-out;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease-in-out;
}

.common-shadow-styling-container {
    @apply fixed top-[52px] right-4 h-[calc(100vh-70px)] rounded-lg z-90 overflow-hidden flex flex-col;
    box-shadow: 0 -4px 1.5px -4px rgba(0, 0, 0, 0.2), 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
}
